<div class="page-title">
  <h4>
    <a routerLink="/categories">Категории</a>
    <i class="material-icons">keyboard_arrow_right</i>
    {{isNew ? 'Добавить' : 'Редактировать'}} категорию
  </h4>
  <span>
            <button *ngIf="!isNew" (click)="deleteCategory()" class="btn btn-small red">
              <i class="material-icons">delete</i>
            </button>
          </span>
</div>

<app-inner-category-form [category]="category" (onSend)="onCategorySubmit()" [isNew]="isNew"></app-inner-category-form>

<app-positions-form *ngIf="category?._id" [categoryId]="category._id"></app-positions-form>
