<div *ngIf="!isLoading; else loader " class="">
  <button  class="btn waves-effect grey darken-1"  (click)="onAddCategory()">Добавить категорию</button>

  <div *ngIf="categories.length > 0; else empty" class="frow order-row">
    <div *ngFor="let category of categories"
         [routerLink]="['/order', category._id]"
         class="card category waves-effect pointer">
      <div class="center">
        <img [src]="category.imageSrc"
             class="responsive-img order-img">
      </div>
      <div class="card-content center p10">

        <h5 class="m0">{{category.name}}</h5>
      </div>
      <div class="category__buttons"><button class="waves-effect waves-light btn" (click)="$event.stopPropagation();onDelete(category);">Удалить</button> <button class="waves-effect waves-light btn" (click)="$event.stopPropagation(); onUpdate(category)">Обновить</button></div>

    </div>
  </div>
  <ng-template #empty>
    <div class="center">
      Категорий пока нет.
    </div>
  </ng-template>
</div>
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

<div #categoryModal class="modal modal-fixed-footer">
  <div class="modal-content">
    <app-inner-category-form [category]="category" (onSend)="onCategorySaved($event)" [isNew]="isNew"></app-inner-category-form>
  </div>
</div>
